.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 16px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    padding: 0 15px 15px;
    font-size: 0.9em;
}

.school-card-info{
    display: inline-block;
    width: 33%;
}
